* {
    /* background-color: green; */
    font-size: 15px;
    /* font-weight: bold; */
    font-family: 'Mitr', sans-serif;

}

body {
    background-color: #eaeef3;
}

.custom-card {
    padding: 5px 10px;
    border: none;
    min-height: 130px;
}